.MuiPickersLayout-root {
  height: auto;
  width: auto;
}

.css-gqp4xl-MuiPickersLayout-root {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100%;
  width: 100%;
  gap: 10px;
}

/* ocultamos el button di CANCEL */
.MuiDialogActions-root button:first-child {
  display: none; /* Oculta el primer botón (Cancel) */
}

/* ocultamos el button di OK */
.MuiDialogActions-root button:last-child {
  display: none; /* Oculta el último botón */
}

